{% extends "base.html.twig" %}
{% block logo %}
        <img src="/JanexMotors/img/janex_logo.png" width="250" height="150" alt="Janex_logo" id="logo_principal"/></p>
{% endblock %}
{% block body %}
        <h1>COMPARATIVA SEGÚN CARACTERÍSTICAS</h1>
        <p>A continuación, te ofrecemos un par de comparativas de nuestras
            motos según su potencia y su cilindrada. Recuerda que si tienes
            alguna duda puedes contactar con nosotros desde el formulario de la 
            página de contacto.
        </p>
        <div class="info-motos">
        <ol class="dosColumnas">
        {% for estilo in estilos %}
            <li><b><i>POTENCIA EN MOTOS {{estilo.nombre | upper}}</i></b>
                <ol>
                {% for moto in estilo.motos %}
                    <li>{{moto.nombre}} ({{moto.cilindrada}} y {{moto.potencia}})</li>
                    
                {% endfor %}
                </ol>
            </li>
            
        {% endfor %}
        </ol>
    </div>

{% endblock %}