{% extends "base.html.twig" %}
{% block logo %}
        <img src="/JanexMotors/img/janex_logo.png" width="250" height="150" alt="Janex_logo" id="logo_principal"/></p>
{% endblock %}
{% block body %}

        <h1>CONSEJOS A LA HORA DE COMPRAR UNA MOTO</h1>
        <p>En esta sección, te facilitamos algunos consejos que creemos que te van
            a ser útiles a la hora de pensar en qué moto quieres comprar. Además te 
            explicamos un poco más algunos conceptos para que tengas más clara tu elección.
        </p>
        <ul>
            <li>Debes tener en cuenta el tipo de carnet que tienes, ya que eso te 
                limita las posibilidades de escoger unas motos u otras según su potencia.
            </li>
            
            <li>¿Cuánto tiempo hace que tienes el permiso de conducir? Dependiendo del tiempo
                 que haga tendrás más seguridad o menos encima de una moto, por lo tanto asegurate 
                 de que escoges una que se adapte bien a ti.
            </li>
            
            <li>Tu altura va a ser determinante en el manejo de una moto. Si tienes poca estatura
                 te va a ser más difícil llevar una moto alta, así que mejor pruébatela... ¡a ver cómo
                  te queda!
            </li>
            
            <li>Según el uso que vayas a darle, deberás tener en cuenta tanto la autonomía que tiene
                 como el consumo. Esto depende de si la vas a usar para hacer rutas cortas o para hacer 
                 viajes largos.
            </li>
            
            <li>También hay que tener en cuenta la estética, dependiendo de si buscas una moto deportiva
                 o una moto naked tendrás que elegir la que más se adapte a ti. Esto te lo explicamos más abajo.
            </li>
        </ul>
        <div class="info-motos">
        <dl>
            <dt><b><i>MOTOS DEPORTIVAS</i></b></dt>
            <dd>Son aquellas que llevan carenado y tienen un aspecto más "agresivo" a la vista, tienen mejor 
                aerodinamica.
            </dd>
        </dl>
        <dl>
            
            <dt><b><i>MOTOS NAKED</i></b></dt>
            <dd>Provienen del anglicismo naked, o lo que es lo mismo, moto desnuda. Esto se debe a que 
                llevan menos carenado que las deportivas, es decir, van más descubiertas y por lo consecuente
                no tienen tanta aerodinamica.
            </dd>
        </dl>
    </div>

{% endblock %}