{% extends "base.html.twig" %}

{% block javascript %}
<script type="text/javascript" src="JS/getBiggerPics/code.js"></script>
{% endblock %}

{% block logo %}
        <div class="dosColumnas">
            <img src="img/janex_logo.png" width="250" height="150" alt="Janex_logo" id="logo_principal" />
            <a title="SITIO OFICIAL DE DUCATI" href="https://www.ducati.com/es/es/home"><img src="img/ducati_logo.png" width="150" height="150" alt="Ducati_Logo"/></a>
        </div>
{% endblock %}

{% block body %}


        <h2 id="monster" class="red">DUCATI MONSTER 1200S</h2>
        <p>Es una versión lanzada en 2018 con la que se rinde homenaje a los 25 años
             de historia del modelo Monster. Toma de base la S, con la que comparte motor
              y parte ciclo, pero se añaden numerosos elementos que las hacen diferentes,
               empezado por su decoración. Y es que la 25º Aniversario luce especialmente 
               gracias a su decoración inspirada en la bandera italiana, que combinan a la
                perfección con el chasis y las llantas Marchesini de color oro.</p>
        <p><div overflow-x:scroll><img id="moto" src="img/ducati_monster.png" width="600" height="400" alt="Ducati_Monster"/></div></p>
        <table class="rojo">
            <caption><i>Ducati Monster - Ficha técnica</i></caption>
            <tr>
            <th>POTENCIA</th><th>CILINDRADA</th><th>Nº CILINDROS</th><th>PRECIO</th>
            </tr>
            <tr>
                <td>150 cv</td><td>1200 cc</td><td>2</td><td>17.890€</td>
            </tr>
        </table>
        <h2 id="panigale" class="red">DUCATI PANIGALE V4</h2>
        <p>La Ducati Panigale V4 es una deportiva que deriva directamente de la Desmosedici de MotoGP,
             una moto muy avanzada tecnológicamente con un explosivo motor capaz de rendir 214 CV. 
             Lanzada en 2018, la Panigale V4 se renueva en 2020 adquiriendo gran parte de las componentes 
             que incorpora la Panigale V4 R, en especial el paquete aerodinámico con los alerones que hacen
              que la moto tenga un comportamiento más eficaz a alta velocidad.</p>
        <p><img id="moto" src="img/ducati_panigale.png" width="600" height="400" alt="Ducati_Panigale"/></p>
        <table class="rojo">
            <caption><i>Ducati Panigale V4- Ficha técnica</i></caption>
            <tr>
            <th>POTENCIA</th><th>CILINDRADA</th><th>Nº CILINDROS</th><th>PRECIO</th>
            </tr>
            <tr>
                <td>214 cv</td><td>1100 cc</td><td>4</td><td>26.190€</td>
            </tr>
        </table>
        <h2 id="streetfighter" class="red">DUCATI STREETFIGHTER V4</h2>
        <p>Estamos ante una naked dotada de tecnología de MotoGP que queda patente en un
             elemento estético y aerodinámico que se estrena por primera vez en una moto naked, los alerones
             . Estos proceden de la experiencia de Ducati Corse en el Mundial. Estas alas biplano, tal y como
              las define Ducati, buscan ofrecer la máxima estabilidad a máxima velocidad y también al frenar.
               Trabajan de forma independiente al estar situadas en diferentes planos y se han ubicado lo
                más cerca posible de la rueda delantera para incrementar el efecto anti-levantamiento.</p>
        <p><img src="img/ducati_streetfighter.png" width="600" height="400" alt="Ducati_Streetfighter_V4"/></p>
        <table class="rojo">
            <caption><i>Ducati StreetFighter V4 - Ficha técnica</i></caption>
            <tr>
            <th>POTENCIA</th><th>CILINDRADA</th><th>Nº CILINDROS</th><th>PRECIO</th>
            </tr>
            <tr>
                <td>208 cv</td><td>1100 cc</td><td>4</td><td>21.990€</td>
            </tr>
        </table>
{% endblock %}