{% extends "base.html.twig" %}

{% block javascript %}
<script type="text/javascript" src="JS/getBiggerPics/code.js"></script>
{% endblock %}

{% block logo %}
        <div class="dosColumnas">
            <img src="img/janex_logo.png" width="250" height="150" alt="Janex_logo" id="logo_principal" />
            <a title="SITIO OFICIAL DE HONDA" href="https://www.honda.es/motorcycles.html"><img src="img/honda_logo.png" width="175" height="175" alt="Honda_Logo"/></a>
        </div>
{% endblock %}

{% block body %}

        <h2 id="cbr" class="red">HONDA CBR 1000RR FIREBLADE</h2>
        <p>La CBR1000RR-R Fireblade 2020 hereda toda la tecnología en cuanto a motor y parte
             ciclo de la especial RC213V-S de calle y añade la aerodinámica empleada por la versión
              de competición para crear una deportiva de 1000 totalmente enfocada a su uso en circuito.
               Por lo tanto, no toma como base la anterior versión, ni siquiera el motor, que es
                de nueva creación y que cuenta con las mismas medidas diámetro y carrera que el de
                 RC213V de carreras. Es un propulsor compacto y dotado de tecnología de baja fricción
                  que ofrece unas prestaciones más que notables. El escape también es de nueva factura
                   y ha sido desarrollado de forma conjunta con Akrapovic y está fabricado en titanio.
                    Su potencia es de 215 CV, lo que la convierte en una de las superbike más potentes del momento.</p>
        <p><img src="img/honda_cbr.png" width="600" height="400" alt="honda_cbr"/>
            </p>
        <table class="rojo">
            <caption><i>Honda CBR 1000RR Fireblade - Ficha técnica</i></caption>
            <tr>
            <th>POTENCIA</th><th>CILINDRADA</th><th>Nº CILINDROS</th><th>PRECIO</th>
            </tr>
            <tr>
                <td>214 cv</td><td>1000 cc</td><td>4</td><td>24.500€</td>
            </tr>
        </table>
        <h2 id="cbf" class="red">HONDA CB500F</h2>
        <p>En cuanto a su diseño, la CB500F ofrece
            una imagen moderna de líneas angulosas que se mantiene intacta desde 2019. Otro elemento importante
            en las naked, el depósito de gasolina, queda integrado de manera impecable
            en este modelo gracias a su perfecto ajuste con el asiento y las tapas laterales. 
            Su capacidad es de 17 litros y otorga una autonomía superior a los 480 kilómetros.
            Se trata de una moto apta para pilotos de cualquier talla pues su asiento se encuentra
             situado a 785 mm del suelo, lo que unido a un peso inferior a 200 kg hace que las maniobras
              en parado se realicen con facilidad. Su posición de conducción es confortable,
               con un manillar relativamente elevado y las estriberas situadas en una posición
                neutra que buscan una ergonomía neutra.</p>
        <p><img src="img/honda_cbf.png" width="600" height="400" alt="honda_cbf"/></p>
        <table class="rojo">
            <caption><i>Honda CB500F - Ficha técnica</i></caption>
            <tr>
            <th>POTENCIA</th><th>CILINDRADA</th><th>Nº CILINDROS</th><th>PRECIO</th>
            </tr>
            <tr>
                <td>47 cv</td><td>471 cc</td><td>2</td><td>6.250€</td>
            </tr>
        </table>
        <h2 id="hornet" class="red">HONDA HORNET</h2>
        <p>La nueva generación Hornet que nació en 2007 es una moto naked totalmente diferente
             a su predecesora, sobre todo en cuanto a diseño pero también en otros elementos clave
             , como el bastidor y el basculante de aluminio. Más deportiva y futurista, monta el motor
              de cuatro cilindros de la CBR600 pero con modificaciones para rebajar la potencia y
               dotarla de un carácter más urbano. Se trata de una moto muy polivalente debido a su
                comodidad y planteamiento sport pero moderado, muy recomendable para el día a día. </p>
        <p><img src="img/honda_hornet.png" width="600" height="400" alt="Yamaha_MT07"/></p>
        <table class="rojo">
            <caption><i>Honda Hornet - Ficha técnica</i></caption>
            <tr>
            <th>POTENCIA</th><th>CILINDRADA</th><th>Nº CILINDROS</th><th>PRECIO</th>
            </tr>
            <tr>
                <td>102 cv</td><td>600 cc</td><td>4</td><td>8.529€</td>
            </tr>
        </table>

{% endblock %}