{% extends "base.html.twig" %}

{% block javascript %}
<script type="text/javascript" src="/JS/displayInfo/code.js"></script>
{% endblock %}

{% block logo %}
        <img src="img/janex_logo.png" width="250" height="150" alt="Janex_logo" id="logo_principal"/></p>
{% endblock %}

{% block body %}
        <p>
        Bienvenido/a al catálogo on-line de <i>Janex Motors S.A</i> donde podrás encontrar gran variedad
        de motos y consultar sus principales características. Ofrecemos una ficha técnica un tanto reducida,
        pero con los datos esenciales a tener en cuenta en el momento de la compra. Además, te ofrecemos unos
        <a href="/consejos">consejos</a> y <a href="/comparativa">comparativas</a> para que puedas tener
         una mejor experiencia de compra.
        </p>

        <p>
        Recuerda que puedes contactar con nosotros desde el apartado "CONTACTO" que tienes en el menú lateral
        en caso de que tengas cualquier duda sobre alguna de nuestras motos. También puedes concertar una CITA
         desde la página CONCERTAR CITA que encontrarás al final del menú.
        </p>

        <p>Si quieres conocer más sobre las marcas con las que trabajamos, pincha en cada uno de los logos.</p>

        {% for marca in marcas %}
                
        <img src="{{marca.img}}" width="700" height="175" alt="{{marca.nombre}}_Logo" class="marcas"/>
        <p class="info">{{marca.descripcion}}
        </p>
        {% endfor %}

       {% endblock %}