{% extends "base.html.twig" %}

{% block javascript %}
<script type="text/javascript" src="JS/displayInfo/code.js"></script>
{% endblock %}

{% block logo %}
        <img src="img/janex_logo.png" width="250" height="150" alt="Janex_logo" id="logo_principal"/></p>
{% endblock %}

{% block body %}
        <p>
        Bienvenido/a al catálogo on-line de <i>Janex Motors S.A</i> donde podrás encontrar gran variedad
        de motos y consultar sus principales características. Ofrecemos una ficha técnica un tanto reducida,
        pero con los datos esenciales a tener en cuenta en el momento de la compra. Además, te ofrecemos unos
        <a href="/consejos">consejos</a> y <a href="/comparativa">comparativas</a> para que puedas tener
         una mejor experiencia de compra.
        </p>

        <p>
        Recuerda que puedes contactar con nosotros desde el apartado "CONTACTO" que tienes en el menú lateral
        en caso de que tengas cualquier duda sobre alguna de nuestras motos. También puedes concertar una CITA
         desde la página CONCERTAR CITA que encontrarás al final del menú.
        </p>

        <p>Si quieres conocer más sobre las marcas con las que trabajamos, pincha en cada uno de los logos.</p>

        <img src="img/yamaha_long.svg" width="700" height="175" alt="Yamaha_Logo" class="marcas"/>
        <p class="info">La <b>Yamaha Motor Company</b> es uno de los grandes
        gigantes japoneses en la industria del motociclismo que fue fundada en el año
        1955. A partir de los años 70, Yamaha ya destacaba por hacer motos de competición.
        Compite en <i>MotoGP</i> con el nombre de <b>Monster Energy Yamaha MotoGP</b>
        por motivos de patrocinio. Llevan compitiendo con las versiones de la YZF-M1 desde
        el año 2002. Actualmente, cuenta con 7 campeonatos de <i>MotoGP</i> conseguidos por los
        pilotos Valentino Rossi y Jorge Lorenzo.
        </p>



        <img src="img/honda_long.png" width="700" height="175" alt="Honda_Logo" class="marcas"/>
        <p class="info"><b>Honda Motor Company</b> es una empresa de origen japonés fundada en el año
        1948. Esta compañía también se conoce por su influencia en el automovilismo, pero
        nos centraremos en su influencia en el mundo del motociclismo. El Repsol Honda Team es desde 1994
        el equipo oficial de Honda. Como equipo ha conseguido
        10 campeonatos de <i>MotoGP</i> de la mano de distintos pilotos: Valentino Rossi,
        Nicky Hayden, Casey Stoner y Marc Márquez entre ellos.
        </p>

        <img src="img/kawasaki_long.png" width="700" height="175" alt="Kawasaki_Logo" class="marcas"/>
        <p class="info"><b>Kawasaki Heavy Industries</b> es otra de los grandes gigantes japoneses con gran
        impacto en el motociclismo. La empresa se fundó en 1896 y en 1949 apareció la división
        <b>Kawasaki Heavy Industries Motorcycle &amp; Engine</b>.
        A diferencia de las anteriores, Kawasaki destaca en las <i>SuperBikes</i>. De hecho, llevan 6
         años consecutivos considerados los mejores constuctores de motos en <i>SuperBikes</i>. Destaca el
        piloto Jonathan Rea, que es quien lleva ganando estos 6 ultimos años.
        </p>

        <img src="img/ducati_long.png" width="700" height="175" alt="Ducati_Logo" class="marcas"/>
        <p class="info"><b>Ducati Motor Holding</b> es una empresa italiana fabricante de motocicletas, fundada en
        1926 en Bolonia, pero no fue hasta 1952 cuando diseñaron su primera motocicleta.
        Actualmente se considera una de las marcas más importantes en el sector del motociclismo comercial y deportivo.
        <b>Ducati Corse</b> es la división de equipo de carrera de Ducati que trata con la participación de
        la firma en carreras de motocicletas. Actualmente compite en <i>MotoGP</i>, el Campeonato Mundial de
        <i>SuperBikes</i> y otros campeonatos nacionales. Cuenta con un campeonato de <i>MotoGP</i> a manos de
        Casey Stoner y con nada menos que 17 campeonatos en <i>SuperBikes</i>.</p>

       {% endblock %}