{% extends "base.html.twig" %}

{% block javascript %}
<script type="text/javascript" src="JS/getBiggerPics/code.js"></script>
{% endblock %}

{% block logo %}
        <div class="dosColumnas">
            <img src="img/janex_logo.png" width="250" height="150" alt="Janex_logo" id="logo_principal" />
            <a title="SITIO OFICIAL DE KAWASAKI" href="https://www.kawasaki.es/es/products"><img src="img/kawasaki_logo.png" width="175" height="175" alt="Kawasaki_Logo"/></a>
        </div>
{% endblock %}

{% block body %}


        <h2 id="ninja" class="green">KAWASAKI NINJA 1000S</h2>
        <p>La Kawasaki Ninja 1000SX es una poderosa sport turismo que en 2020 se renueva por completo,
             abandonando además la nomenclatura utilizada hasta ahora de Z1000 y adquiriendo el apellido Ninja,
              lo que refleja el espíritu deportivo de esta montura.Su estética es imponente, más Ninja que nunca
               en donde el escape y el frontal afilado marcan las líneas. El motor de la Ninja 1000SX es el conocido
                cuatro cilindros en línea de la marca japonesa, de increíble respuesta en el medio régimen y que
                 en 2020 recibe modificaciones en su acelerador electrónico para lograr una entrega más lineal y 
                 dosificable así como una mayor suavidad en el accionamiento.</p>
        <p><img src="img/kawa_ninja.png" width="600" height="400" alt="Kawasaki_Ninja"/></p>
        <table class="verde">
            <caption><i>Kawasaki Ninja 1000S- Ficha técnica</i></caption>
            <tr>
            <th>POTENCIA</th><th>CILINDRADA</th><th>Nº CILINDROS</th><th>PRECIO</th>
            </tr>
            <tr>
                <td>142 cv</td><td>1043 cc</td><td>4</td><td>15.299€</td>
            </tr>
        </table>
        <h2 id="z800" class="green">KAWASAKI Z800</h2>
        <p>40 años después del nacimiento de la primera Z, Kawasaki presenta la Z800, 
            una naked que deriva de la Z750 que tanto éxito ha cosechado, y que manteniendo
             el estilo Z nos muestra un estilo más agresivo. El motor aumenta de cilindrada
              ofreciendo mayor par motor desde bajas revoluciones y una potencia máxima 6 CV
               por encima del de la anterior Z750, el chasis se modifica para ofrecer más
                estabilidad, y suspensión y frenos se mejoran. La instrumentación se muestra
                 mediante una pantalla LCD completamente digital. Estéticamente, la cúpula
                  delantera aún más deportiva sirve como muestra del camino elegido por Kawasaki
                   con esta evolución de la Z.</p>
        <p><img src="img/kawa_z800.png" width="600" height="400" alt="Kawasaki_Z800"/></p>
        <table class="verde">
            <caption><i>Kawasaki Z800 - Ficha técnica</i></caption>
            <tr>
            <th>POTENCIA</th><th>CILINDRADA</th><th>Nº CILINDROS</th><th>PRECIO</th>
            </tr>
            <tr>
                <td>113 cv</td><td>806 cc</td><td>4</td><td>8.525€</td>
            </tr>
        </table>
        <h2 id="h2" class="green">KAWASAKI NINJA H2</h2>
        <p>La Kawasaki Ninja H2 llegó para marcar un antes y un después entre las motos de altas
             prestaciones gracias a su propulsor sobrealimentado y aspecto de caza, gracias a sus
              spoilers y alerones. En 2019 era renovada con una importante ganancia de potencia y
               una mayor presencia de tecnología y equipamiento, mientras que en 2020 no se introducen
                mas cambios que pequeños estéticos </p>
        <p><img src="img/kawa_h2.png" width="600" height="400" alt="Kawasaki_H2"/></p>
        <table class="verde">
            <caption><i>Kawasaki Ninja H2 - Ficha técnica</i></caption>
            <tr>
            <th>POTENCIA</th><th>CILINDRADA</th><th>Nº CILINDROS</th><th>PRECIO</th>
            </tr>
            <tr>
                <td>231 cv</td><td>1000 cc</td><td>4</td><td>33.850€</td>
            </tr>
        </table>

{% endblock %}