{% extends "base.html.twig" %}

{% block javascript %}
<script type="text/javascript" src="JS/getBiggerPics/code.js"></script>
{% endblock %}

{% block logo %}
        <div class="dosColumnas">
            <img src="img/janex_logo.png" width="250" height="150" alt="Janex_logo" id="logo_principal" />
            <a title="SITIO OFICIAL DE YAMAHA" href="https://www.yamaha-motor.eu/es/es/"><img src="img/yamaha_logo.png" width="290" height="175" alt="Yamaha_Logo"/></a>
        </div>
{% endblock %}

{% block body %}

        <h2 id="r1" class="blue">YAMAHA YZF-R1</h2>
        <p>La carrocería es aerodinámica, está equipada con el imponente carenado inspirado en
             la M1 y ofrece un rendimiento máximo. Los faros LED de última generación y las luces
              de posición LED acentúan la intimidante presencia de esta moto, y con los sistemas
               de control de frenado (BC) y administración de freno motor (EBM), tendrás un control absoluto.
               Cada uno de los siete sistemas de asistencia electrónicos ajustables se puede adaptar
                al detalle en cuestión de segundos mediante el sistema YRC. Con todo esto y una suspensión
                 mejorada, un motor EU5 refinado y unos neumáticos RS11 premium, la R1 ha elevado el
                  listón a un nivel totalmente nuevo.</p>
        <p><img src="img/yamaha_r1.png" width="800" height="500" alt="Yamaha_R1"/></p>
        <table class="azul">
            <caption><i> Yamaha YZF-R1 - Ficha técnica</i></caption>
            <tr>
            <th>POTENCIA</th><th>CILINDRADA</th><th>Nº CILINDROS</th><th>PRECIO</th>
            </tr>
            <tr>
                <td>210 cv</td><td>1000 cc</td><td>4</td><td>21.899€</td>
            </tr>
        </table>
        <h2 id="r6" class="blue">YAMAHA YZF-R6</h2>
        <p>La supersport Yamaha YZF-R6 está inspirada en la YZF-R1 de la que toma sus claves de diseño
             para proponer una imagen mucho más dinámica y vanguardista. El motor de cuatro cilindros en
              paralelo ha sido revisado a fondo pero Yamaha no ha logrado igualar los 123 CV de la versión
               precedente, quedándose en 118 CV a 14.500 rpm. También ha descendido ligeramemte la cifra de
                par que pasa de 65,7 a 61,8 Nm a 10.500 rpm. Elementos como pistones de aluminio forjado,
                 relación de compresión 13.1:1, válvulas de admisión/escape de titanio, sistema de inducción
                  de aire y admisión controlada por circuito integrado de Yamaha (YCC-I) evidencian la tecnología
                   que Yamaha ha aplicado a la nueva R6.</p>
        <p><img src="img/yamaha_r6.png" width="500" height="400" alt="Yamaha_R6"/></p>
        
        <table class="azul">
            <caption><i>Yamaha YZF-R6 - Ficha técnica</i></caption>
            <tr>
            <th>POTENCIA</th><th>CILINDRADA</th><th>Nº CILINDROS</th><th>PRECIO</th>
            </tr>
            <tr>
                <td>130 cv</td><td>600 cc</td><td>4</td><td>15.849€</td>
            </tr>
        </table>
        <h2 id="mt07" class="blue">YAMAHA MT07</h2>
        <p>Su motor de diseño compacto de 689 cc y 2 cilindros en línea con "filosofía
             crossplane" está concebido para ofrecerte un par motor potente y lineal para
              una aceleración impresionante con un consumo excepcionalmente reducido.
            El atrevido diseño de la carrocería, con entradas de aire más agresivas,
             refuerza las señas de identidad de la gama MT, mientras que el asiento
              proporciona una mejor posición de conducción. Con una refinada suspensión
               delantera y trasera, el chasis tubular y compacto de la MT-07 se dirige exactamente
                a donde lo enfilas... y te lleva directamente al lado oscuro de Japón.</p>
        <p><img src="img/yamaha_mt07.png" width="800" height="500" alt="Yamaha_MT07"/></p>
        <table class="azul">
            <caption><i>Yamaha MT07 - Ficha técnica</i></caption>
            <tr>
            <th>POTENCIA</th><th>CILINDRADA</th><th>Nº CILINDROS</th><th>PRECIO</th>
            </tr>
            <tr>
                <td>78 cv</td><td>700 cc</td><td>2</td><td>6.799€</td>
            </tr>
        </table>

{% endblock %}

