<input type="checkbox" id="abrir-cerrar" name="abrir-cerrar" value="">
    <label for="abrir-cerrar">&#9776; <span class="abrir"></span><span class="cerrar"></span></label>
    <div id="sidebar" class="sidebar">
        <ul class="menu">
            <li><a href="/">INICIO</a></li>
            <li><a href="/yamaha">YAMAHA</a>
                <ul class="submenu">
                    <li><a href="/yamaha#r1">R1</a></li>
                    <li><a href="/yamaha#r6">R6</a></li>
                    <li><a href="/yamaha#mt07">MT07</a></li>
                </ul></li>
            <li><a href="/honda">HONDA</a>
                <ul class="submenu">
                    <li><a href="/honda#cbr">CBR</a></li>
                    <li><a href="/honda#cbf">CBF</a></li>
                    <li><a href="/honda#hornet">HORNET</a></li>
                </ul></li>
            <li><a href="/kawasaki">KAWASAKI</a>
                <ul class="submenu">
                    <li><a href="/kawasaki#ninja">NINJA 1000S</a></li>
                    <li><a href="/kawasaki#z800">Z800</a></li>
                    <li><a href="/kawasaki#h2">H2</a></li>
                </ul></li>
            <li><a href="/ducati">DUCATI</a>
                <ul class="submenu">
                    <li><a href="/ducati#monster">MONSTER</a></li>
                    <li><a href="/ducati#panigale">PANIGALE</a></li>
                    <li><a href="/ducati#streetfighter">STREETFIGHTER</a></li>
                </ul></li>
                <li><a href="/contacto">CONTACTO</a></li>
                <li><a href="/cita">CONCERTAR CITA</a></li>
        </ul>
    </div>