<!DOCTYPE html PUBLIC   "-//W3C//DTD   XHTML   1.0   Strict//EN" "http://www.w3c.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html lang="es-ES" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>JANEX MOTORS S.A</title>
        <link rel="icon" type="image/png" href="/img/janex_logo.png"/>
        {% block css %}{% endblock %}
        <link rel="stylesheet" href={{ asset("/css/mini-style.css") }} type="text/css" media="screen and (min-width: 320px)"/>
        <link rel="stylesheet" href={{ asset("/css/medium-style.css") }} type="text/css" media="screen and (min-width: 768px)"/>
        <link rel="stylesheet" href={{ asset("/css/max-style.css") }} type="text/css" media="screen and (min-width: 1024px)"/>
        {% block javascript %}{% endblock %}
    </head>
    <body class="contenido">

    {{ include ('partials/menu.html.twig', { }) }}

    <div id="logo-container">
        {% block logo %}{% endblock %}
    </div>

    {% block body %}{% endblock %}

     <p class="copyright"><i>Página web realizada por Janira F. Vidal, estudiante de Diseño de Aplicaciones Web en IES El Caminás.</i></p>
        <p><img src="/img/creative_commons.png" width="100" height="25" alt="cc" class="img-copy"/></p>
    </body>
</html>